button,header,h2{
    font-size:36px;
}

footer {
    font-size:24px;
}

header,footer{
    background-color:#DDDDDD;
}

article {
    background-color:#EEEEEE;
}

button{
    margin:10px;
}

svg{
    margin:36px;
}

header {
    text-align:center;
}

article {
    text-align:center;
}

